html  
    head 
        title User Manager 
    body 
        h1 Enter detail below to create user 
        form(method= 'POST', action= '/create')
            div
                label(for='userName') User Name
                input(id='userName', name='userName')
            div
                label(for='name') Name
                input(id='name', name='name')
            div
                label(for='email') Email
                input(id='email', name='email')
            div
                label(for='age') Age
                input(id='age', name='age')
            div 
                input(type='submit' value='Add user')